:root {
    --dark-blue: #0B0D17;
    --skyblue: #D0D6F9;
    --white: #FFFFFF;
}

/* Typography */
/* 150px 100px 56px 32px 28px*/
@font-face {
    font-family: Bellefair;
    src: url(../fonts/Bellefair-Regular.ttf);
}
/* font-family: 'Bellefair', serif; */

/* Heading 5 - Barlow Condensed Regular - 28px - 4.75 Character Space  
Subheading 2 - Barlow Condensed Regular - 14px - 2.35 Character Space
    Nav Text - Barlow Condensed Regular - 16px - 2.7 Character Space*/
@font-face {
    font-family: BarlowCondensed;
    src: url(../fonts/BarlowCondensed-Light.ttf), url(../fonts/BarlowCondensed-Regular.ttf);
}
/* font-family: 'Barlow Condensed', sans-serif; */

body {
    padding: 0;
    margin: 0;

    background-color: black;
}

.main-container {
    width: 360px;
    height: 667px;
    background-image: url(../home/background-home-mobile.jpg);
    background-size: cover;

    margin: 0 auto;
}

.header {
    height: 88px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    
}

.icon {
    background-image: url(../shared/logo.svg);
    background-size: contain;

    width: 40px;
    height: 40px;

    margin-top: 24px;
    margin-left: 24px;
}

.dropdown {
    background-image: url(../shared/icon-hamburger.svg);
    background-size: contain;

    width: 24px;
    height: 21px;

    margin-top: 33px;
    margin-right: 24px;
}

.body-container {
    margin: 0 24px;
    margin-top: 48px;
}

.body-container h4 {
    margin: 0;
    padding: 0;

    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;

    font-weight: 100;
    text-align: center;
    color: var(--skyblue);
    transform: scaleX(0.77)
    
}

.body-container h1 {
    font-family: 'Bellefair', sans-serif; 
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 0;
    color: var(--white);
}

.body-container p {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 15px;
    font-weight: 100;
    font-stretch: narrower;
    text-align: center;
    width: 327px;
    margin-top: 21px;
    color: var(--skyblue);
    line-height: 25px;
    letter-spacing: 0;
}

.circle {
    font-family: 'Bellefair', serif;
    background-color: var(--white);
    border-radius: 50%;
    width: 150px;
    height: 150px;

    text-align: center;
    line-height: 150px;
    color: var(--dark-blue);
    letter-spacing: 1.25px;
    font-size: 20px;
    font-weight: 400;

    margin: 0 auto;

    margin-top: 61px;
}